# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

.idea/
.iml
*.iml
modules.xml
vcs.xml
node_modules/

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
.eslintcache
.vscode
